<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<div id="register-area">
  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <form action="/account/update/" method="post" id="update-form">
    <label for="account_firstname">First Name</label>
    <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.accountData.account_firstname %>">
    <label for="account_lastname">Last Name</label>
    <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.accountData.account_lastname %>">
    <label for="account_email">Email</label>
    <input type="email" id="account_email" name="account_email" required value="<%= locals.accountData.account_email %>">
    <input type="hidden" id="account_id" name="account_id" value="<%= locals.accountData.account_id %>">
    <button type="submit">Update</button>
  </form>
  <h2>Change Password</h2>
  <form action="/account/update/password/<%= locals.accountData.account_id %>" method="post" id="update-password-form">
    <label for="account_password">Password</label>
    <input type="password" id="account_password" name="account_password" required
      minlength="12"
      pattern="(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}"
      title="Password must be at least 12 characters long, contain at least one uppercase letter, one number, and one special character.">
    <button type="submit">Update</button>
  </form>
</div>
